<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
          <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9" />
          <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
          <link rel="icon" href="{{url_for('static', filename='images/edit.png')}}" type="image/gif" sizes="16x16">
          <title>Game</title>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     </head>
     <body>
          <div id="myDiv"></div>
          <!-- <div class="loadingScreen" id="loadingScreen">Loading...</div> -->
     </body>
     <script src="{{url_for('static', filename='js/game.js')}}"></script>
     <script src="{{url_for('static', filename='js/mouseEvents.js')}}"></script>
     <script src="{{url_for('static', filename='js/levelSelect.js')}}"></script>
     <script src="{{url_for('static', filename='js/star.js')}}"></script>
     <script src="{{url_for('static', filename='js/variables.js')}}"></script>
     <script src="{{url_for('static', filename='js/screens.js')}}"></script>
     <script src="{{url_for('static', filename='js/charge.js')}}"></script>
     <script src="{{url_for('static', filename='js/testCharge.js')}}"></script>
     <script src="{{url_for('static', filename='js/fieldLines.js')}}"></script>
     <script src="{{url_for('static', filename='js/track.js')}}"></script>
     <script src="{{url_for('static', filename='js/levels.js')}}"></script>
     <script src="{{url_for('static', filename='js/button.js')}}"></script>
     <script src="{{url_for('static', filename='js/popup.js')}}"></script>
     <script src="{{url_for('static', filename='js/portal.js')}}"></script>
     <script src="{{url_for('static', filename='js/text.js')}}"></script>
     <script src="{{url_for('static', filename='js/images.js')}}"></script>
     <script src="{{url_for('static', filename='js/p5.min.js')}}"></script>
     <script src="{{url_for('static', filename='js/p5.sound.min.js')}}"></script>
     
</html>



<!-- add my name and colleen email address 

https://www.ithaca.edu/academics/school-humanities-and-sciences/physics-and-astronomy/research-opportunities/physics-education-research 



-->

