{% extends "base.html" %}
{% block app_content %}
    <h3>Global Leaderboard</h3>
    <br>
    <br>
    <ul>
        <div class="container">
            <table class="table" style="margin-left: -50px">
                <thead style="background-color: #040720">
                <tr style="color: white">
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Track</th>
                    <th>Course</th>
                    <th>Score</th>
                    {#                    <th>Time</th>#}
                </tr>
                </thead>
                {% for student in students %}
                    <tbody>
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ student.track }}</td>
                        <td>{{ student.course }}</td>
                        <td>{{ student.score }}</td>
                        {#                        <td>{{ student.time }}</td>#}
                    </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>
    </ul>


{% endblock %}